<div th:fragment="map">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.symbol.min.js"></script>

    <style>
        #map {
            height: 500px;
            width: 100%;
            margin-bottom: 15px;
        }
    </style>

    <div id="map"></div>

    <script>
        const map = L.map('map').setView([-3.1, -60.0], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        const pontos = [];
        let routeLine = null;
        let decorator = null;

        map.on('click', (e) => {
            const lat = e.latlng.lat;
            const lng = e.latlng.lng;

            pontos.push({ latitude: lat, longitude: lng });
            L.marker([lat, lng]).addTo(map);
        });

        async function otimizarRota() {
            const resp = await fetch('/api/rota/otimizar', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(pontos)
            });
            const rota = await resp.json();

            if (!rota || !rota.coordenadas) {
                alert("Nenhuma rota retornada!");
                return;
            }

            // remove linha e setas antigas
            if (routeLine) map.removeLayer(routeLine);
            if (decorator) map.removeLayer(decorator);

            const latlngs = rota.coordenadas.map(p => [p.latitude, p.longitude]);

            routeLine = L.polyline(latlngs, { color: 'blue', weight: 5 }).addTo(map);

            decorator = L.polylineDecorator(routeLine, {
                patterns: [
                    {
                        offset: 0,
                        repeat: '100px',
                        symbol: L.Symbol.arrowHead({
                            pixelSize: 12,
                            pathOptions: { fillOpacity: 1, color: 'red', weight: 0 }
                        })

                    }
                ]
            }).addTo(map);

            map.fitBounds(routeLine.getBounds());
        }
    </script>
</div>
